<!DOCTYPE HTML>
{% load static %}
<html prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ title }} | {{ sitename }}</title>
    {% if og %}
        <meta property="og:title" content="{{ title }} | {{ sitename }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:url" content="{{ url }}" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>
<body>
    <div id="heading">
        <div id="currentuser">{% if user.username != "" %}Logged in: {{ user }}<br />{% if user.is_staff %}<a href="/admin/">Admin</a> | {% endif %}<a href="{% url 'logout' %}">Logout</a>{% else %}Not logged in<br /><a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>{% endif %}</div>
        <div id="breadcrumb">
            <a href="/" id="bc-home" class="bc">{{ sitename }}</a>
            <span class="bc">{{ title }}</span>
        </div>
        <h1>{{ title }}{% if blogpage %}{% if user.is_staff %}&nbsp;<a href="/admin/main/blogpost/{{ postid }}/change/">(EDIT)</a>{% endif %}{% endif %}</h1>
        {% if blogpage %}
            <div class="details">
                <span id="created_at">Created at: {{ created_at }}</span>
                <span id="modify_at">Modify at: {{ modify_at }}</span>
            </div>
        {% endif %}
    </div>
    <div id="bodycontent">{% block bodycontent %}{{ content | safe }}{% endblock %}</div>
    {% if blogpage %}
        <div id="comments">
            <h2 id="commentHeading">Comments</h2>
            {% if commentmsg %}{{ commentmsg }}{% endif %}
            {% for x in comments %}
                <div class="commentBlock">
                    <div class="commentBody">
                        <div class="details commentDetails">
                            <span>By {{ x.by }}</span>
                            <span>Commented at: {{ x.create_date }}</span>
                        </div>
                        <p class="commentBody">{{ x.content }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="commentBlock">
                <div class="commentBody">
                    <p class="commentBody">
                        {% if user.username != "" %}
                            Leave a comment now!
                            <form method="post">{% csrf_token %}
                                <textarea id="content" name="content" required></textarea><br />
                                <input type="submit" value="Submit" />
                        {% else %}
                            <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">register</a> to leave comments!
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
</body>
</html>


