<!DOCTYPE HTML>
{% load static %}
<html prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ title }} | {{ sitename }}</title>
    {% if og %}
        <meta property="og:title" content="{{ title }} | {{ sitename }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:url" content="{{ url }}" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% if blogpage %}
        <script src="{% static 'blog.js' %}"></script>
    {% endif %}
</head>
<body>
    <div id="heading">
        <div id="currentuser">{% if user.username != "" %}Logged in: {{ user }}<br />{% if user.is_staff %}<a href="/admin/">Admin</a> | {% endif %}<a href="{% url 'logout' %}">Logout</a>{% else %}Not logged in<br /><a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>{% endif %}</div>
        <div id="breadcrumb">
            <a href="/" id="bc-home" class="bc">{{ sitename }}</a><!--
            --><span class="bc">{{ title }}</span>
        </div>
        <h1>{{ title }}{% if blogpage %}{% if user.is_staff %}&nbsp;<a class="small" href="/admin/main/blogpost/{{ postid }}/change/">(EDIT)</a>{% endif %}{% endif %}</h1>
        {% if blogpage %}
            <div class="details">
                <span id="created_at" class="details_content">Created on: {{ created_at }}</span><!--
                --><span id="modify_at" class="details_content">Modified on: {{ modify_at }}</span>
            </div>
        {% endif %}
    </div>
    <div id="bodycontent">{% block bodycontent %}{{ content | safe }}{% endblock %}</div>
    {% if blogpage %}
        <div id="comments">
            <h2 id="commentHeading">Comments{% if user.is_staff %} <a class="small" href="/admin/main/comment/?blogpost__id__exact={{ postid }}">(MANAGE)</a>{% endif %}</h2>
            {% if commentmsg %}{{ commentmsg }}{% endif %}
            {% for x in comments %}
                <div class="commentBlock" id="comment-{{ x.id }}">
                    <div class="commentBody">
                        <div class="details commentDetailsRight">
                            <span class="details_content">ID: {{ x.id }}</span>{% if user.username != "" %}<!--
                                --><span class="details_content"><a class="replyClick" href="#comment-comment" replyto="{{ x.id }}">Reply</a></span>{% if user.is_staff %}<!--
                                    --><span class="details_content"><a href="/admin/main/comment/{{ x.id }}/change/">Manage</a></span>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="details commentDetails">
                            <span class="details_content">By {{ x.by }}{% if x.by == user %} <span class="small">(you)</span>{% endif %}</span><!--
                            --><span class="details_content">Commented at: {{ x.create_date }}</span>{% if x.replyto %}<!--
                                --><span class="details_content">In reply to <a href="#comment-{{ x.replyto.id }}">{{ x.replyto.by }}</a></span>
                            {% endif %}
                        </div>
                        <p class="commentText">{{ x.content }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="commentBlock" id="comment-comment">
                <div class="commentBody">
                    <p class="commentText">
                        {% if user.username != "" %}
                            Leave a comment now!
                        {% else %}
                            <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">register</a> to leave comments!
                        {% endif %}
                    </p>
                    {% if user.username != "" %}
                        <form method="post" id="comment-form">{% csrf_token %}
                            <label for="replyto">(Optional) Reply to:</label>
                            <select id="replyto" name="replyto">
                                <option value="0">---</option>
                                {% for x in comments %}
                                    <option value="{{ x.id }}">{{ x.by }} at {{ x.create_date }}, ID {{ x.id }}</option>
                                {% endfor %}
                            </select> <button id="form-reply-goto" style="display: none;">GOTO</button><br />
                            <textarea id="content" name="content" required></textarea><br />
                            <input type="submit" value="Submit" />
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <footer>
        <hr />
        <div id="footer_copyright">{{ copyright }}</div>
        <div id="footer_by_dblog">powered by <a href="https://github.com/Emojigit/dblog/">dblog</a>, using <a href="https://www.djangoproject.com/">the Django framework</a>.</div>
    </footer>
</body>
</html>


