<!DOCTYPE HTML>
{% load static %}
<html prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ title }} | {{ sitename }}</title>
    {% if og %}
        <meta property="og:title" content="{{ title }} | {{ sitename }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:url" content="{{ url }}" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
</head>
<body>
    <div id="heading">
        <div id="currentuser">Logged in: {{ user }}{% if user.is_staff %}<br /><a href="/admin/">Admin Panel</a>{% endif %}</div>
        <div id="breadcrumb">
            <a href="/" id="bc-home" class="bc">{{ sitename }}</a>
            <span class="bc">{{ title }}</span>
        </div>
        <h1>{{ title }}{% if blogpage %}{% if user.is_staff %}&nbsp;<a href="/admin/main/blogpost/{{ postid }}/change/">(EDIT)</a>{% endif %}{% endif %}</h1>
        {% if blogpage %}
            <div id="details">
                <span id="created_at">Created at: {{ created_at }}</span>
                <span id="modify_at">Modify at: {{ modify_at }}</span>
            </div>
        {% endif %}
    </div>
    <div id="bodycontent">{% block bodycontent %}{{ content | safe }}{% endblock %}</div>
</body>
</html>


