:root {
  --bkg: #add8e6;
  --text: #000;
  --a: unset;
  --details: grey;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bkg: #000;
        --text: #add8e6;
        --a: lightblue;
        --details: lightgrey;
    }
}

:root {
    --hr: 1px solid var(--text);
}

a {
    color: var(--a);
}

#heading, h2 {
    border-bottom: var(--hr);
}

hr {
    border-top: var(--hr);
}

#heading h1 {
    margin-bottom: 0;
    margin-top: 0;
}

body {
    color: var(--text);
    background-color: var(--bkg);
    font-family: sans-serif;
}

.details, #breadcrumb {
    font-size: smaller;
    color: var(--details);
    white-space-collapse: discard;
}

.details > span:not(:last-child)::after {
    content: "\00a0|\00a0";
    display: inline-block;
}

#breadcrumb > .bc, .details_content {
    display: inline-block;
}

#breadcrumb .bc:not(:first-child)::before {
    content: "\00a0>\00a0";
    display: inline-block;
}

#postlist {
    margin-left: 5px;
    margin-right: 5px;
}

#currentuser {
    float: right;
    margin-right: 5px;
}

.commentBlock {
    border: 1px solid var(--text);
}

.commentBlock:not(:first-child) {
    margin-top: 10px;
}

.commentBody, .commentText {
    margin: 5px;
}

input, select, textarea {
    background-color: var(--bkg);
    color: var(--text);
    border: 2px solid var(--text);
}

textarea {
    width: 400px;
    height: 150px;
    min-height: 100px;
    max-width: 90%;
}

.commentDetailsRight {
    float: right;
    color: var(--details);
}

.small {
    font-size: smaller;
}

footer > div {
    display: inline-block;
}

#footer_by_dblog {
    float: right;
}
