:root {
  --bkg: #add8e6;
  --text: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bkg: #000;
        --text: #add8e6;
    }
}

#heading, h2 {
    border-bottom: 1px solid var(--text);
}

body {
    color: var(--text);
    background-color: var(--bkg);
}

#details {
    font-size: smaller;
    color: lightgrey;
}

#details span:not(:first-child)::after {
    content: "  ";
    display: inline-block;
}
